body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./back.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
a {
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu-option , .menu-social{
    color: white;
    padding: 20px;
}
.menu-option:hover , .menu-social :hover {
    background: rgb(229, 57, 60);
}
.menu-social {
    padding: 0;
    display: flex;
    align-items: center;
}
.menu-social i{
    height: 38px;
    width: 60px;
    font-size: 24px;
    display: block;
    text-align: center;
    padding-top: 18px;
}


