*{
    font-size: 20px;
}
.welcome{
    /* border: solid red 1px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3rem 3rem;
    grid-template-areas: "greeting ."
                         "btn-email ."
                         "social .";
}
.greeting{
    grid-area: greeting;
}
.title-3 span{
    font-size: 1.8rem;
}
.btn-container{
    grid-area: btn-email;
}
.social-container{
    grid-area: social;
}
.about{
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
    grid-template-areas: "title title"
                         "photo description";
}
.about-photo img{
    width: 22rem;
    height: 22rem;
    width: auto;
    grid-area: photo;
}
.title{
    grid-area: title;
}
.about-photo{
    grid-area: photo;
}
.description{
    padding: 20% 0;
    grid-area: description;
    display: flex;
    flex-direction: column;
}
.badges{
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 4);
    grid-template-areas: ". hab-1"
                         ". hab-2"
                         ". hab-3"
                         ". hab-4";
}
.hab-1{
    grid-area: hab-1;
}
.hab-2{
    grid-area: hab-2;
}
.hab-3{
    grid-area: hab-3;
}
.hab-4{
    grid-area: hab-4;
}
.contact{
    margin: 5rem 12rem;
}
.contact .title{
    margin: 2rem;
}