.menu{
    display: none;
}
.home {
    width: min-width(320px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3rem 2rem 4em 2.8em;
    grid-template-areas:"profile"
                        "greet"
                        "greeting"
                        "description"
                        "button";
}
.home .profile {
    grid-area: profile;
}
.home .profile img {
    background-color: #2c2c2c;
    width: 12em;
    border-radius: 50%;
}
.home h1{
    margin: 0;
    grid-area: greet;
    font-size: 3em;
}
.home h3 {
    margin: 0;
    grid-area: greeting;
    font-size: 1.5em;
}
.home p{
    margin: 0;
    grid-area: description;
}
.home a{
    text-align: center;
    width: 7em;
    grid-area: button;
}
.container-aboutMe {
    display: grid;
    grid-template-columns: 1fr .8fr;
}