@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

:root{
    --dark-blue: #2E279D;
    --blue: #4D80E4;
    --light-blue: #46B3E6;
    --sky-blue: #ACE5FF;
    --gray: #606060;
    --white: #f7f7f7;
}
/* general */
*{
    font-family: "be vietnam";
}
html{
    background-color: var(--white);
}
ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
}
a:active{
    border: solid var(--blue) 2px;
}
.title-3{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-family: "poppins";
    color: var(--dark-blue);
}
.title-3 span{
    font-family: "poppins";
    color: var(--blue);
}
h1, h2, h3, h4, h5 ,h6{
    margin: 0;
}
.text{
    color: var(--gray);
}
/* page style */
#home{
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem;
}
.logo .name{
    font-family: "poppins";
    color: var(--blue);
    margin: 1rem;
}
.logo .name h1{
    margin: 0;
}
.navigation{
    display: none;
}
.hamburger{
    width: 2rem;
    margin: 1rem;
    justify-content: flex-end;
}
.line{
    background-color: var(--blue);
    height: .3rem;
    margin: .2rem;
    border-radius: 3px;
}
.welcome{
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3rem 3rem;
}
.greeting{
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.btn-email{
    background-color: var(--light-blue);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 30%;
    height: 100%;
    color: var(--white);
}
.social{
    display: flex;
    justify-content: space-around;
}
.icon i{
    font-size: 2rem;
    color: var(--dark-blue);
}
.about{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.about-photo img{
    width: 70vw;
    height: 75vh;
    border-radius: 10px;
}
.description{
    text-align: center;
    margin: 2rem;
}
.skills{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.hability{
    margin: 1rem 5%;
    height: 3rem;
    border-radius: 5px;
    box-shadow: 10px 10px 17px -7px var(--gray);
    display: grid;
    grid-template-rows: 1fr .3rem;
    grid-template-columns: 4rem 1fr;
    grid-template-areas: "hab-name percent"
                         "bar bar";
}
.hab-name{
    grid-area: hab-name;
    padding: .7rem 0 .7rem .5rem;
}
.percent{
    grid-area: percent;
    display: flex;
    justify-content: flex-end;
    padding: .7rem .5rem;
}
.bar{
    grid-area: bar;
    background-color: var(--dark-blue);
    border-radius: 4px;
}
#html{
    width: 75%;
}
#css{
    width: 70%;
}
#js{
    width: 55%;
}
#python{
    width: 80%;
}
.contact{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.form-contact{
    margin: 0 5%;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
}
.form{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}
.label-form{
    display: flex;
    flex-direction: column;
}
.label-form h4{
    padding: 1rem;
    font-size: 1.3rem;
}
.label-form input{
    border-radius: 5px;
    border: none;
    min-height: 2rem;
    padding-left: .7rem;
}
.label-form textarea{
    border-radius: 5px;
    width: 100%;
}
.content-message input{
    min-height: 4em;
}

.label-form:nth-last-child(1){
    margin: 1rem 4rem .5rem 4rem;
}
#send{
    padding: 0;
    background-color: var(--white);
}
.footer{
    background-color: var(--blue);
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer .title-3{
    color: var(--white);
}
.footer .icon{
    padding: 1rem;
}
.footer .icon i{
    color: var(--white);
}
