 #home{
    margin: 0 4rem;
}
.about-photo img{
    width: 16rem;
    height: 16rem;
    width: auto;
}
.graph {
    padding-left: 4rem;
    padding-right: 4rem;
}
.gallery-container {
  grid-template-columns: repeat(3, 1fr);
}